:root {
  --primary-color: rgb(78, 110, 233);
  --primary-color-dark: rgb(12, 23, 62);
  --second-color: rgb(238, 241, 242);
  --second-color-dark: rgb(144, 148, 151);
  --defaul-font: "Roboto", sans-serif;
}

/* :root {
  --primary-color: rgb(43, 68, 110);
  --primary-color-dark: rgb(7, 34, 174);
  --second-color: rgb(247, 204, 43);
  --second-color-dark: rgb(145, 106, 0);
  --defaul-font: "Roboto", sans-serif;
} */

* {
  font-family: var(--defaul-font);
}

body {
  background-color: var(--primary-color-dark);
}

div.container {
  background-color: var(--second-color);
  width: 980px;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  /* padding: 20px; */
}

div.container h1 {
  font-size: 40px;
  font-family: var(--defaul-font);
  font-weight: 400;
  color: var(--primary-color);
  text-align: center;
  padding: 10px;
}

div.container div.input {
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  padding: 5px;
  color: var(--second-color);
  font-family: var(--defaul-font);
}

div.container div.input div.quantidade,
div.container div.input div.numeros {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 450px;
  height: 150px;
  background-color: var(--primary-color);
  border-radius: 10px;
  font-size: 23px;
}

div.container div.input div.quantidade input {
  height: 50px;
  width: 40%;
  border-radius: 5px;
  border: 0;
  padding-left: 10px;
  font-size: 25px;
  text-align: center;
}

div.container div.input div.numeros div {
  display: flex;
  justify-content: space-around;
}

div.container div.input div.numeros div input {
  height: 50px;
  width: 40%;
  border-radius: 5px;
  border: 0;
  padding-left: 10px;
  font-size: 25px;
  text-align: center;
}

div.container button {
  width: 100%;
  margin: 0;
  height: 40px;
  margin-top: 10px;
  border-radius: 0 0 10px 10px;
  border: 0;
  background-color: var(--primary-color);
  color: var(--second-color);
  font-size: 20px;
  transition: 0.5s;
}

div.container button:hover {
  background-color: var(--second-color-dark);
  color: var(--primary-color-dark);
}

div.resultado {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 5px;
  color: var(--second-color);
  font-family: var(--defaul-font);
  flex-wrap: wrap;
  /* margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  width: 900px;
  justify-content: space-around;
  flex-wrap: wrap; */
}

div.resultado p {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-family: var(--defaul-font);
  background-color: var(--primary-color);
  color: var(--second-color);
  padding: 7px;
  margin: 5px;
  border-radius: 5px;
}

div.resultado p span {
  margin-top: 5px;
  text-align: center;
  font-size: 20px;
}